{% extends "app/layout.html" %}

{% block content %}
<?
$servidor = '127.0.0.1:51898';
$banco = 'localdb';
$usuario = 'azure@localhost';
$link = mysql_connect($servidor, $usuario, $senha);
$db = mysql_select_db($banco,$link);
if(!$link)
{
    echo "erro ao conectar ao banco de dados!";exit();
}
$id = $_POST['id'];
$busca = mysql_query("SELECT * FROM app_curso WHERE id ='$id'");
$dado = mysql_fetch_array($busca);
 
$nome = $dado['NOME'];
$periodo = $dado['periodo'];
$instiuicao = $dado['instituicao'];
 
echo "Descrição: ".$descricao. " Valor: ".$valor;
<div class="jumbotron">
    <h1>Cadastro de cursos TESTE</h1>
</div>

<table class="table">
    <tr><th>echo "Nome Curso: ".$nome."</th><th>echo "Período :" ".$periodo."</th><th>echo "Insituição : ".$instiuicao."</th></tr>
        {% for curso in cursos %}
          <tr><td>{{ curso }}</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
        {% endfor %}
</table>

{% endblock %}
